*{padding: 0;
		margin: 0;
	}

	h1,h2,h3{
		font-family: "Julius Sans One";
	}

	h1,h2{
		text-align: center;
		background-color: #A7B3CD;
		color: #FFFF5C;
		margin-top: 25px;
		margin-bottom: 25px;
		padding: 10px;
	}

	p,ul,td,th{
		font-family: "Rokkitt";
		font-size: 24px;
		color: #59595C
	}

	body{
		background: #ED0057;
	}
	
	.main{
		background: #FFFFFF;
		width: 960px;
		margin: 100px auto 100px auto;
		padding: 25px 50px;
	}

	#title-section h1{
		font-size: 30px;
	}
	
	#intro{
		text-align: center;
	}

	#intro img{
		display: inline-block;
		margin: 25px auto;
	}

	#address{
		width: 75%;
		margin: auto;
	}

	.address p{
		float: right;
	    display: block;
	    clear: both;
	}

	.address img{
		float: left;
	}

	.address{
	    padding: 25px 0;
	}

	#my-neighborhood h3{
		text-align: center;
		padding: 10px;
	}

	#my-neighborhood p{
	    text-align: left;
	    padding: 15px 0;
	}

	.cubs-win{
		display: inline-block;
		margin: 25px auto;
	}

	#neighborhood-sights p{
		text-align: left;
		padding: 10px;
	}

	section#neighborhood-sights ul{
			width: 50%;
			display: inline-block;
			padding: 15px;
			margin-bottom: 25px;
		}

	section#read-2016 table th{
		background-color: #A784A5;
	}

	section#read-2016 table td{
		border: 1px dotted #FFEB92;
		padding: 15px;
	}
